* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body {
    background:#0b1a4a;
    color:white;
}

.booking-container {
    display: flex;
    padding:20px;
    gap: 20px;
}

.main-area{
    flex:3;
}

.screen{
    width:80%;
    height:60px;
    margin:20px auto 40px;
    background:#ddd;
    color:black;
    text-align:center;
    line-height:60px;
    font-weight:bold;
    letter-spacing:2px;
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
}

.seats{
    display:flex;
    flex-direction:column;
    gap:24px;
    align-items:center;
}

.row{
    display:flex;
    align-items:center;
    gap:80px;
}

.box {
    display: flex;
    gap: 8px;
}

.row-label{
    width:20px;
    text-align: right;
    margin-right: 8px;
    color: white;
}

.block .box {
    margin-bottom: 20px;
}


.seat{
    width:22px;
    height:22px;
    border:2px solid white;
    border-radius:4px;
}

.seat.booked{
    background:gray;
    border-color:gray;
}

.seat.selected{
    background:limegreen;
    border-color:limegreen;
}

.seat-number {
    width: 22px;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 22px;
}

.legend{
    margin-top:30px;
    display:flex;
    justify-content:center;
    gap:30px;
}

.legend div{
    display:flex;
    align-items:center;
    gap:8px;
}

.sidebar{
    flex:1;
    background:#111a6b;
    padding:20px;
    border-radius:12px;
    margin-top: 60px;
    width:40%;
    text-align: center;
    margin:20px auto 40px;  
}

.sidebar h2{
    text-align:center;
    margin-bottom:20px;
}

.sidebar p{
    margin:10px 0;
}

.confirm{
    margin-top:20px;
    width:100%;
    padding:12px;
    font-size:16px;
    background:aqua;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.confirm:hover {
    box-shadow: 
    0 0 10px #00bfff,
    0 0 20px #00bfff,
    0 0 30px #00bfff;
}