* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins",sans-serif;
    background: rgb(16, 18, 93);
    color: rgb(255, 255, 255);
}

.navbar {
    width: 100%;
    padding: 1rem 5%;
    background: rgb(0, 29, 52);
    border-bottom: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#star {
    position: static;
}

.right_actions {
    display: flex;
    gap: 12px;
}

.btn {
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #6bdce0;
    color: #001d34;
}

.btn:hover {
    background: rgb(9, 90, 115);

    box-shadow: 
    0 0 10px #00bfff,
    0 0 20px #00bfff,
    0 0 30px #00bfff;
}

.nav_links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav_links a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: x-large;
}

.nav_links li a:hover {
    color:aqua;
}

.hero_text {
    text-align: center;
}

.movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px; 
    padding: 10px;
}

.movie_card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.movie_card img {
    width: 100%;
    height: auto;
    display: block;
}

.movie_card .book {
    text-align: center;
    padding: 6px 14px;
    cursor: pointer;
    background: whitesmoke;
    color: #001d34;
    font-size: 20px;
}

.book button {
    font-size: 20px;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

footer {
    width:100%;
    margin:0;
    background: #a115f3;
    padding: 20px;
    text-align: center;
}

footer p {
    font-weight: bold;
}

.footer_links a {
    text-decoration: underline;
    font-weight: bold;
    color:rgb(154, 233, 8);
}

.footer_links {
    display: flex;
    justify-content: center;
    gap:100px;
} 

.footer_links a:hover {
    color:rgb(29, 33, 7);
}